* {
    margin: 0;
    padding: 0;
    min-height: 7%;
}

html,
body {
    height: 100%;
}

#auth-btn,
#logout-btn {
    float: right;
    margin: 7px;
}

.hidden {
    display: none;
}

#app-container {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    min-height: 66%;
}

footer {
    margin-top: 2%;
}

.panel-heading {
    background-color: transparent;
    text-align: center;
}

.list-inline {
    text-align: center;
}

.btn-facebook {
    background-color: #204d74;
    color: white;
}

ul a:hover {
    font-size: 1.2em;
}

.book-div {
    overflow: hidden;
    margin-bottom: 4%;
}

.cover-div {
    float: left;
    margin-right: 4%;
    margin-top: 3%;
}

.book-info {
    float: left;
    padding: 1%;
}

.book-info>h1 {
    margin-bottom: 0;
}

.book-info.zoom>h1 {
    margin-top: 3%;
}

.book-info>a>h3 {
    margin-top: 5%;
}

.book-img {
    width: 100px;
    height: 150px;
}

.book-img.zoom {
    width: 200px;
    height: 300px;
}

.author-text.zoom {
    float: left;
}