#auth-btn,
#logout-btn {
    float: right;
    margin: 7px;
}

.hidden {
    display: none;
}

.book-img {
    width: 100px;
    height: 150px;
}

.book-img-zoom {
    width: 200px;
    height: 300px;
}

.book-div {
    width: 400px;
    margin-left: 40px;
}

.author-text-zoom {
    float: right;
}

#app-container {
    margin-right: auto; margin-left: auto; width: 80%;
    /*margin-top: 5%;*/
    margin-bottom: 5%;
}

.container-fluid {
    top:30%;
}

.panel-heading {
    background-color: transparent;
    text-align: center;
}
.list-inline{
    text-align:center;
}
.btn-facebook{
    background-color: #204d74;
    color: white;
}