#auth-btn,
#logout-btn {
    float: right;
    margin: 7px;
}

.hidden {
    display: none;
}

.book-img {
    width: 100px;
    height: 150px;
}

.book-img-zoom {
    width: 200px;
    height: 300px;
}

.book-div {
    width: 400px;
    margin-left: 40px;
}

.author-text-zoom {
    float: right;
}