<div class="panel-default">
    <div class="panel-heading">
        <h3>Books List</h3>
    </div>
    <div class="panel-body">
        <ul class="panel-items" style="list-style-type:none">
            {{#each this}}
            <li>{{counter @index}}: <a href="#/categories:{{name}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>
