<div class="book-div zoom">
    <div class="cover-div">
        <img src="{{img}}" alt="Book Cover" class="book-img zoom">
    </div>
    <div class="book-info zoom">
        <h1>{{name}}</h1>
        <h4 class="author-text zoom">Author: {{author}}</h4>
        <button class='add-book hidden'>Add to my list</button>
    </div>
</div> 