<h1>Hello,<span>{{this.username}}</span></h1>
<h2>We are happy to see you!</h2>
<div>
    <ul>
        <li>
             <a href='#/user/books/all'>View my books</a>
        </li>
        <li>
            <a href="#/books/categories/all">Add books</a>
        </li>
        <li>
            <button id = 'user-button'>Hit me</button>
        </li>
    </ul>