<form>
    <label for="email-input">email</label>
    <input id="email-input" placeholder="email">
    <label for="username-input">Username</label>
    <input id="username-input" placeholder="username">
    <label for="password-input">Password</label>
    <input id="password-input" type="password" placeholder="password">
    <a href="#/signup" class="btn btn-success">Sign up</a>
    <a href="#/signin" class="btn btn-info">Sign in</a>
</form>